/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(
    135deg,
    #ff6ec4,
    #7873f5,
    #4facfe,
    #43e97b
  );

  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;

  color: white;
}

/* Animation */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Main Container */
.App {
  min-height: 100vh;
}